<%- include("partials/head") %>
    <body>
        <div class="content-wrapper">
            <header>
                <h1><%= title %></h1>
            </header>
            <main>
                <%- include("partials/sidebar") %>
                <div class="content-container">
                    <% if (errors.length) { %>
                        <ul>
                            <% errors.forEach(error => { %>
                                <li class="error"><%- error.msg %></li>
                            <% }); %>
                        </ul>
                    <% } %>

                    <form method="POST">
                        <div class="form-input-container">
                            <label for="name">Name:</label>
                            <input 
                                type="text" 
                                id="name"
                                name="name"
                                placeholder="Dior, Gucci, etc."
                                value="<%= brand ? brand.name : '' %>"
                                required
                            >
                        </div>
                        <div class="form-input-container">
                            <label for="country">Country of Origin:</label>
                            <input 
                                type="text" 
                                id="country"
                                name="country"
                                placeholder="France, Italy, etc."
                                value="<%= brand ? brand.countryOfOrigin : '' %>"
                                required
                            >
                        </div>
                        <div class="form-input-container">
                            <label for="yearEstablished">Year Established:</label>
                            <input 
                                type="number" 
                                id="yearEstablished"
                                name="yearEstablished"
                                placeholder="1920"
                                min="1700"
                                max="<%= new Date().getFullYear() %>"
                                value="<%= brand ? brand.yearEstablished : '' %>"
                                required
                            >
                        </div>
                        <div class="form-button-container">
                            <button type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </main>
        </div>

        <%- include("partials/footer") %>
    </body>