<%- include("partials/head") %>
    <body>
        <div class="content-wrapper">
            <header>
                <h1><%= title %></h1>
            </header>

            <main>
                <%- include("partials/sidebar") %>
                <div class="content-container">
                    <h2>ID: <%= cologneInstance.id %></h2>
                    <p><b>Name:</b> <a href="<%= cologneInstance.cologne.url %>"><%= cologneInstance.cologne.name %></a></p>
                    <p><b>Batch Number:</b> <%= cologneInstance.batchNumber %></p>
                    <p><b>Price:</b> $<%= cologneInstance.price %></p>
                    <p><b>Size:</b> <%= cologneInstance.size %></p>
                    <hr>

                    <h3><strong>Do you really want to delete this Cologne Instance?</strong></h3>
                    <form method="POST">
                        <div class="form-input-container">
                            <input type="hidden" name="cologneInstance" value="<%= cologneInstance.id %>">
                        </div>
                        <div class="form-button-container">
                            <button type="submit">Delete</button>
                        </div>
                    </form>
            </main>
        </div>

        <%- include("partials/footer") %>
    </body>