<%- include("partials/head") %>
    <body>
        <div class="content-wrapper">
            <header>
                <h1><%= title %></h1>
            </header>
            <main>
                <%- include("partials/sidebar") %>
                <div class="content-container">
                    <h2>Cologne: <%= cologne.name %></h2>
                    <p><b>Brand:</b> <%= cologne.brand.name %></p>
                    <p><b>Description:</b> <%= cologne.description %></p>
                    <p><b>Scent Notes:</b>
                    <% if (cologne.scentNotes.length) { %>
                        <% cologne.scentNotes.forEach((scentNote, idx) => { %>
                            <a href="<%= scentNote.url %>"><%= scentNote.name %></a>
                            <% if (idx != (cologne.scentNotes.length - 1)) { %>
                                |
                            <% } %>
                        <% }); %>
                    <% } %>
                    <div class="sub-content-container">
                        <% if (cologneInstances.length) { %>
                            <h3><strong>Delete the following cologne instances before attempting to delete this Cologne.</strong></h3>
                            <hr>
                            <% cologneInstances.forEach(cologneInstance => { %>
                                <p><b>ID:</b> <a href="<%= cologneInstance.url %>"><%= cologneInstance.id %></a></p>
                                <p><b>Batch Number:</b> <%= cologneInstance.batchNumber %></p>
                                <p><b>Price:</b> $<%= cologneInstance.price %></p>
                                <p><b>Size:</b> <%= cologneInstance.size %></p>
                                <hr>
                            <% }); %>
                            
                        <% } else  { %>
                            <h3><strong>Do you really want to delete this Cologne?</strong></h3>
                            <form method="POST">
                                <div class="form-input-container">
                                    <input type="hidden" name="cologne" value="<%= cologne.id %>">
                                </div>
                                <div class="form-button-container">
                                    <button type="submit">Delete</button>
                                </div>
                            </form>
                        <% } %>
                    </div>
                </div>
            </main>
        </div>

        <%- include("partials/footer") %>
    </body>