<%- include("partials/head") %>
  <body>
    <div class="content-wrapper">
      <header>
        <h1><%= title %></h1>
        <p>Welcome to <em><%= title %></em>, a basic Express website developed to learn Express and Node</p>
      </header>
  
      <main>
        <%- include("partials/sidebar") %>
        <div class="content-container">
          <p>The Cologne Store has the following record counts:</p>
          <ul>
            <li><strong>Colognes:</strong> <%= nColognes %></li>
            <li><strong>Cologne Stock:</strong> <%= nCologneInstances %></li>
            <li><strong>Brands:</strong> <%= nBrands %></li>
            <li><strong>Scent Notes:</strong> <%= nScentNotes %></li>
          </ul>
        </div>
      </main>
    </div>

    <%- include("partials/footer") %>
  </body>
</html>
