<%- include("partials/head") %>
    <body>
        <div class="content-wrapper">
            <header>
                <h1><%= title %></h1>
            </header>
            <main>
                <%- include("partials/sidebar") %>
                <div class="content-container">
                    <form method="POST">
                        <div class="form-input-container">
                            <label for="scentNote">Scent Note:</label>
                            <input 
                                type="text" 
                                id="scentNote"
                                name="scentNote"
                                placeholder="Citrus, Woody, Leather, etc."
                                value="<%= scentNote ? scentNote.name : '' %>"
                                required
                            >
                        </div>
                        <div class="form-button-container">
                            <button type="submit">Submit</button>
                        </div>
                    </form>

                    <% if (errors.length) { %>
                        <ul>
                            <% errors.forEach(error => { %>
                                <li class="error"><%- error.msg %></li>
                            <% }); %>
                        </ul>
                    <% } %>
                </div>
            </main>
        </div>

        <%- include("partials/footer") %>
    </body>